.container {
  border: 5px solid yellow;
  display: flex;
  /* flex-direction: column; */
   /* flex-direction: row; */
  /* justify-content: flex-end;  */
  /* justify-content: center;  */
  /* height: 100%;
  align-items: flex-end; */
} 

/* .item-1{
  order:3;
}

.item-2{
  order:2;
}
.item-3{
  order:1;
} */

/* .logout {
  /* align-self: flex-start; */
   /* flex: 10 1 200px;
} */ *

/* .search{
  margin-left: auto;
} */

/* .home{
  margin-right: auto; */
  /* flex: 1 1 200px;
} */


/* .container >div{
  flex:1;
  flex-grow, flex-shrink, flex-basis;
} */

.search{
 flex:1;
}

/* 
.home, .logout{
  flex:1;
} */

/* .home{
align-self: flex-end;
} */

@media all and (max-width: 600px){
  .container{
    flex-wrap: wrap;
  }
  .container> li{
    flex: 1 1 50%;
  }
  .search> input {
    text-align: center;
  }
}

@media all and (max-width: 400px){
  
  .container> li{
    flex: 1 1 100%;
  }
  .search{
    order: 1;
  }
  
}




